{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block body %}

    <div class="container">
        <form method="GET">
            <input type="text" name = "name" placeholder="Search">
            <button type="submit" class="search-btn">Search</button>
        </form>
    </div>
    <br>
    <hr>
    <br>
    <div class="container">
        {% for pokemon in cards %} 
            <div class="card">
                <div>{{ pokemon |title }}</div>
                <!-- <img class="card-sprite" src="{{ pokemon.image_url }}"> -->
            </div>
        {% endfor %}
    </div>











{% endblock %}